*:focus {
  outline: none;
}

body {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 700;
  font-size: initial;
}

#resplan {
  font-size: 1.5em;
}
