*:focus {
  outline: none;
}

body {
  background: rgb(230, 255, 247);
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 700;
}

input {
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

button {
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

input:hover {
  border: 1px solid darkgray;
}

button:hover {
  border: 1px solid darkgray;
}
