h1 {
  text-align: center;
  font-family:"Major Mono Display", sans-serif;
}

h2 {
  font-family: "Major Mono Display", sans-serif;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
