body {
  font-weight: 300;
  font-family: "Roboto", sans-serif
}

h1 {
  text-align: center;
  font weight: 700;
}

h2 {
  font weight: 700;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
}

.mål {
  background: aquamarine;
}

.deadline {
  font-weight: 500;
}

.substantiv {
  background: aquamarine;
}

.min {
  font-weight: 500;
}
