body {
  font-family: "Railway", sans-serif;
}

.header {
  text-align: center;
  font-family: "Bitter", sans-serif;
}

h2 {
  font-family: "Bitter", sans-serif;
}

.bold {
  font-family: "Bitter", sans-serif;
  text-type: bold;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
