*:focus {
  outline: none;
}

body {
  background: rgb(230, 255, 247);
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}

h1 {
  text-align: center;
  font weight: 700;
}

h2 {
  font weight: 700;
  display: inline-block;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px;
}

details {
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 80%;
  border-radius: 15px;
  padding: .25em .75em;
  box-shadow: 3px 3px 10px 0px grey;
}

details:hover{
  position: relative;
  animation-name: flyger;
  animation-duration: .4s;
  top: -10px;
  width: 81.5%;
  box-shadow: 6px 6px 13px 1px grey;
}

@keyframes flyger {
  0% {top: 0px;}
  100% {
    top: -10px;
    width: 81.5%;
    box-shadow: 6px 6px 13px 1px grey;
  }
}  

summary::-webkit-details-marker {
  display: none;
}

input, label {
  text-indent: 80%;
}

.rubrik {
  font-weight: 500;
}

.mål {
  background: aquamarine;
}

.deadline {
  padding: 1px;
  border: 2px solid aquamarine;
}

.sak{
  background: aquamarine;
}

.intervall {
  padding: 1px;
  border: 2px solid aquamarine;
}

.belöning {
  padding: 1px;
  border: 2px solid aquamarine;
}

.asterix {
  font-weight: 100;
}
