body {
  background: linear-gradient(to left, rgb(230, 255, 247), rgba(230, 255, 247, 0));
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}

h1 {
  text-align: center;
  font weight: 700;
}

h2 {
  font weight: 700;
}

details {
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 900px;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
  
}

.mål {
  background: aquamarine;
}

.deadline {
  border: 2px solid aquamarine;
}

.substantiv {
  background: aquamarine;
}

.min {
  border: 2px solid aquamarine;
}

.asterix {
  font-weight: 100;
}
