*:focus {
  outline: none;
}

body {
  background: linear-gradient(to left, rgb(230, 255, 247), rgb(245, 245, 245));
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}

h1 {
  text-align: center;
  font weight: 700;
}

h2 {
  font weight: 700;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
}

details {
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 80%;
  border-radius: 15px;
  padding: .25em .75em;
  box-shadow: 3px 3px 0px 0px grey;
}

details:hover{
  position: relative;
  animation-name: flyger;
  animation-duration: .4s;
  top: -10px;
  width: 81.5%;
  box-shadow: grey;
}

@keyframes flyger {
  0% {top: 0px;}
  100% {
    top: -10px;
    width: 81.5%;
    box-shadow: grey;
  }
}  

summary::-webkit-details-marker {
  display: none;
}

.mål {
  background: aquamarine;
}

.deadline {
  border: 2px solid aquamarine;
}

.substantiv {
  background: aquamarine;
}

.min {
  border: 2px solid aquamarine;
}

.asterix {
  font-weight: 100;
}
